@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
    
footer {
    width: 100%;
    background: #2B2E38;
    background: linear-gradient(360deg, #2B2E38 75%, white 450%);
    padding: 20px;
    margin-top: 40px;
}

.containerFooter {
    display: grid;
    grid-template-columns: 35% 40% 10%;
    border-bottom: 2px solid rgb(83, 83, 83);
}

.divFooterIMG {
    padding: 20px;
    text-align: start;
    display: flex;
    pointer-events: none;
}

.divFooterIMG img {
    margin-right: 20px;
}

.h3Footer {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.h3Titulo{
    color: white;
    font-weight: bold;
    font-size: 17px;
    transform: translateY(40px);
}

.columns {
    display: flex;
    margin-left: -50px;
    padding: 20px;
}

.linkRed {
    text-decoration: none;
    color: white;
}

.linkRed:hover {
    text-decoration: none;
    color: rgb(221, 132, 132);
}

.nosotros {
    margin-right: 75px;
    text-decoration: none;
    list-style: none;

}

.creditos {
    margin-right: 75px;
    text-decoration: none;
    list-style: none;
}

.redes {
    text-decoration: none;
    list-style: none;
}

.footer-menu-nosotros {
    list-style: none;
    padding: 0;
}

.footer-menu-credits {
    list-style: none;
    padding: 0;
}

.footer-menu-redes {
    list-style: none;
    padding: 0;
}

.footer-menu-credits li {
    display: flex;
    margin-top: 5px;
    text-align: center;
    align-items: center;
}
.footer-menu li {
    margin-bottom: 5px;
    color: #FFEBA7;
}

@media (max-width: 1510px) {
    .containerFooter {
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom: 2px solid #2B2E38;
    }
    
}

@media (max-width: 900px) {
    .h3Titulo{
        font-size: 12px;
    }
}

@media (max-width: 690px) {
    .divFooterIMG{
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 400px) {

    .columns {
        display: block;

    }
}
